//- .logo--footer
//-   img.wolf-logo(src="/img/logo.svg")
.article__pagination
  if page.prev && page.prev.path
    a(class='prev', href=url_for(page.prev.path))
      .article__prev
        h6.article__title= page.prev.title
        p= page.prev.description
  else
    .article__prev
      h6.article__title.article__title--empty This is the oldest article
  if page.next && page.next.path
    a(class='next', href=url_for(page.next.path))
      .article__next
        h6.article__title= page.next.title
        p= page.next.description
  else
    .article__next
      h6.article__title.article__title--empty This is the newest article
